<mat-toolbar color="primary" aria-label="Toolbar content">
  <img src="./assets/HIGN-logo-1200.png" class="image">
  <div class="language-toggle" aria-label="Language Switcher">
    <mat-button-toggle-group >
      <mat-button-toggle value="en">EN</mat-button-toggle>
      <mat-button-toggle value="es">ES</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="section-controller" aria-label="Features sections">
    <span routerLink="/home"> Home </span>
    <span routerLink="nursing/mental-state-exams"> Mental State Exams </span>
  </div>

</mat-toolbar>
